@{
    ViewData["Title"] = "About DispatchIT";
}
<h1>@ViewData["Title"]</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis mi ac ligula mattis blandit quis ac enim. Integer non justo est.</p>
<p>Mauris pellentesque est pulvinar odio posuere tincidunt ac vel mi. Etiam ac ante sed odio pulvinar auctor. Donec lobortis ex blandit iaculis suscipit. Vivamus lacus sapien, venenatis quis faucibus nec, feugiat non enim. Nunc luctus mi id massa consequat lobortis.</p>
<p>Created by Younes Hlalem & James Stoels</p>
