<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DispatchIT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    @RenderSection("HeaderScripts", false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-disp border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" style="color: #273582; padding-right: 50px; font-size: x-large;" asp-area="" asp-controller="Home" asp-action="Index">DispatchIT</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Company" asp-action="CompanyIndex">Company</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Message" asp-action="MessageIndex">Messages</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div style="height: 5rem;"></div>
    <footer>
        <div class="content">
            <p>&copy; 2021 - DispatchIT - <a asp-area="" asp-controller="Home" asp-action="Privacy">About</a></p>
        </div>
        <div class="content" style="text-align: right;">
            <a href="https://integration.team/">
                <img alt="Integration.team" src="https://integration.team/wp-content/uploads/2019/05/logo_integrationteam.png">
            </a>
            <p>&copy; 2019 Integration.team</p>
        </div>
    </footer>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        @RenderSection("Scripts", required: false)
</body>
</html>
